**This notebook is an exercise in the [SQL](https://www.kaggle.com/learn/intro-to-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/dansbecker/getting-started-with-sql-and-bigquery).**

---

# Introduction

The first test of your new data exploration skills uses data describing crime in the city of Chicago.

Before you get started, run the following cell. It sets up the automated feedback system to review your answers.

In [1]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex1 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

Use the next code cell to fetch the dataset.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

### 1) Count tables in the dataset

How many tables are in the Chicago Crime dataset?

In [6]:
# Write the code you need here to figure out the answer
tables = list(client.list_tables(dataset))
print(f'There are {len(tables)} in the Chicage Crime dataset.\nAnd they are:')

for table in tables:
    print(table.table_id)

There are 1 in the Chicage Crime dataset.
And they are:
crime

In [5]:
num_tables = 1  # Store the answer as num_tables and then run this cell

# Check your answer
q_1.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [ ]:
#q_1.hint()
#q_1.solution()

### 2) Explore the table schema

How many columns in the `crime` table have `TIMESTAMP` data?

In [22]:
# Write the code to figure out the answer
table_ref = dataset_ref.table('crime')
table = client.get_table(table_ref)
    
num_timestamp_fields = 0
names = []
for schema in table.schema:
    if schema.__dict__['_field_type'] == 'TIMESTAMP':
        num_timestamp_fields += 1
        names.append(schema.__dict__['_name'])
print(f'\n\nThere are {num_timestamp_fields} columns in the crime table have TIMESTAMP data.\
        \nAnd they are:{names}')

There are 2 columns in the crime table have TIMESTAMP data.
And they are:['date', 'updated_on']

In [18]:
num_timestamp_fields = 2 # Put your answer here

# Check your answer
q_2.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [ ]:
#q_2.hint()
#q_2.solution()

### 3) Create a crime map

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?

In [26]:
# Write the code here to explore the data so you can find the answer

for schema in table.schema:  
    print(schema.__dict__['_name'], '\t', schema.__dict__['_description'])
    
table.schema[0].__dict__

unique_key 	 None
case_number 	 None
date 	 None
block 	 None
iucr 	 None
primary_type 	 None
description 	 None
location_description 	 None
arrest 	 None
domestic 	 None
beat 	 None
district 	 None
ward 	 None
community_area 	 None
fbi_code 	 None
x_coordinate 	 None
y_coordinate 	 None
year 	 None
updated_on 	 None
latitude 	 None
longitude 	 None
location 	 None

{'_name': 'unique_key',
 '_field_type': 'INTEGER',
 '_mode': 'REQUIRED',
 '_description': None,
 '_fields': (),
 '_policy_tags': None}

In [27]:
fields_for_plotting = ['x_coordinate', 'y_coordinate'] # Put your answers here

# Check your answer
q_3.check()

`'latitude'` and `'longitude'` would be better and more standard than `'x_coordinate'` and `'y_coordinate'`, but this might work.

Correct

For a hint or the solution, uncomment the appropriate line below.

In [ ]:
#q_3.hint()
#q_3.solution()

Thinking about the question above, there are a few columns that appear to have geographic data. Look at a few values (with the `list_rows()` command) to see if you can determine their relationship.  Two columns will still be hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [33]:
# Scratch space for your code
client.list_rows(table, selected_fields=[table.schema[0], table.schema[15], table.schema[16]], max_results=5).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.

   unique_key  x_coordinate  y_coordinate
0     2783134     1196274.0     1843079.0
1     2788807     1175089.0     1873471.0
2     2789866     1185727.0     1818033.0
3     2801034     1183958.0     1840013.0
4     2805753     1175100.0     1885262.0

# Keep going

You've looked at the schema, but you haven't yet done anything exciting with the data itself. Things get more interesting when you get to the data, so keep going to **[write your first SQL query](https://www.kaggle.com/dansbecker/select-from-where).**

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/intro-to-sql/discussion) to chat with other learners.*